# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
/Project2/nbproject/private/
/Project2/build/
*.TXT
/Project2/bin
/Project1/bin
*.jar
/JavaProject1/nbproject/private/
/AngelinaKelly/nbproject/private/
/SethHenneman/nbproject/private/
/SethHenneman/build/
SethHenneman/nbproject/private/private.properties

AngelinaKelly/nbproject/private/private.properties
